@model List<Product>
<head>
    <link rel="stylesheet" href="~/css/admin.css"/>
</head>
<body>
<h3>Добавить Product</h3>
<form asp-action="AddProduct" asp-controller="User" style="display:flex;">
    <p>
        <label>Name</label><br />
        <input type="text" name="Name" />
    </p>
    <p>
        <label>Price</label><br />
        <input type="text" name="Price" />
    </p>
    <p>
        <label>Rating</label><br />
        <input type="text" name="Rating" />
    </p>
    <p>
        <label>Category</label><br />
        <input type="text" name="CategoryId" />
    </p>
    <p>
        <label>Size</label><br />
        <input type="text" name="SizeId" />
    </p>
    <p>
        <label>Strenght</label><br />
        <input type="text" name="Strenght" />
    </p>
    <p>
        <label>Country</label><br />
        <input type="text" name="CountryId" />
    </p>
     <p>
        <label>Image</label><br />
        <input type="text" name="Image" />
    </p>
    <input type="submit" value="Добавить" />
</form>
<br />

@*<h3>Поиск по:</h3>
<form asp-action="Milks" method="post" style="display:flex;">
    <p>
        <label>Name</label><br />
        <input type="text" name="name" />
    </p>
    <input type="submit" value="Фильтр" />
</form>*@
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Rating</th>
                <th>Category</th>
                <th>Size</th>
                <th>Strenght</th>
                <th>Country</th>
                <th>Image</th>
                <th></th>
            </tr>
        </table>
@foreach(var item in Model)
    {
        <table style="text-align:center"> 
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Rating</td>
            <td>@item.Category.Name</td>
            <td>@item.Size.Volume</td>
            <td>@item.Strenght</td>
            <td>@item.Country.Name</td>
            <td>@item.Image</td>
            <td style="position: relative;box-sizing: border-box; left: 100px; top: 0px;">
                <form asp-controller="User" asp-action="DeleteProduct" method="post" asp-route-id="@item.Id" style="display:flex;">
                    <input type="submit" value="Удалить">
                </form>
                <form asp-controller="User" asp-action="UpdateProduct" method="post" asp-route-id="@item.Id" style="display:flex;">
                    <p>
                        <label>Name</label><br/>
                        <input type="text" name="Name" />
                    </p>
                    <p>
                        <label>Price</label><br />
                         <input type="text" name="Price" />
                    </p>
                    <p>
                        <label>Category</label><br />
                         <input type="text" name="Category.Name" />
                    </p>
                    <p>
                        <label>Size</label><br />
                         <input type="text" name="Size.Volume" />
                    </p>
                    <p>
                        <label>Strenght</label><br />
                         <input type="text" name="Strenght" />
                    </p>
                    <p>
                        <label>Country</label><br />
                         <input type="text" name="Country.Name" />
                    </p>
                        <input type="submit" value="Сохранить" />
                </form>
            </td>
        </tr>
        </table>
    }
</body>