@model List<Product>
@{
    ViewData["Title"] = "Rom";
}
<head>
        <meta charset="utf-8">
        <link href="site.css" rel="stylesheet">
		<style>
   .prod {
    text-align: center;
	color: white;
   }
  </style>
        <title>BEDOLAGI-Ром</title>
</head>
<body>
	<h3>Ром:</h3>
	<div style="display:flex; ">
		@foreach(var item in Model){
			
			<li class="product-wrapper">
			<a href="" class="product" >
				
				<p class="prod"><img src="@item.Image" width="101" height="166"><br>
				@item.Name<br>
				@item.Country.Name<br>
				Рейтинг: @item.Rating / 5<br>
				@item.Price руб</p>
				</a>
			</li>
			
		}
	</div>
</body>